/* src/index.css */
@font-face {
  font-family: 'Charlies Write';
  src: url('/public//fonts/CharlesWright-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* keep your working Tailwind import */
@import 'tailwindcss';

/* custom utility for your font */
@layer utilities {
  .font-charlies-write {
    font-family: 'Charlies Write', cursive;
  }
}
